.infocolor {
    background-color: #7f7dea !important;
}

.width {
    width: 17% !important;
}

.backcolor1 {
    background-color: #7F7DEA !important;
}
.linecolor{
    color: #7F7DEA !important ;
}
.textback{
    background-color: #7f7dea !important;
}
.hovs:hover {
    color: #21DBDB !important;
}